.home-page {
  background-color: #4f5358;
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center
}

.home-page * {
  padding: 30px;
}

.home-page-container {
  border: 5px solid azure;
  max-width: 500px;
}

table {
  width: 200px !important;
}
