nav {
  background-color: #343a40;
  width: 100vw;
  justify-content: space-between;
}

nav a {
  color: azure;

}



ul {
  list-style: none;
  display: flex;

}

button {
  background-color: transparent;
  color: azure;
  border: none;
}
