<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="contact-edit-container">

    <div>
      <label for="">Name:</label>
      <input type="text" formControlName="name">
    </div>

    <div>
      <label for="">Phone:</label>
      <input type="tel" formControlName="phone">
    </div>

    <div>
      <label for="">Email:</label>
      <input type="text" formControlName="email">
    </div>

    <div>
      <button class="btn btn-outline-secondary" type="submit">Submit</button>
    </div>

  </div>
</form>
