.signup-page {
  color: azure;
  background-color: #4f5358 //   padding: 20px;
}

.main-container>div {
  display: flex;
  justify-content: center;
}

.input-group {
  width: 400px;
  margin-top: 50px;
}
