<div class="contact-details">
  <div class="contact-details-main">

    <div>
      <img [src]="'https://robohash.org/' + contact.name + '.png' ">
    </div>
    <div>
      <p>{{contact.name}}</p>
      <p>{{contact.phone}}</p>
      <p>{{contact.email}}</p>

      <div class="button-container">

        <button class="btn btn-outline-secondary" (click)="editContact(contact._id)">Edit Contact</button>
        <button class="btn btn-outline-secondary" (click)="goBack()">Back</button>
        <button class="btn btn-outline-secondary" (click)="deleteContact(contact._id)">Delete</button>
      </div>
    </div>
    <div>
    </div>

  </div>
  <transfer-found [contact]="contact" [user]="user"></transfer-found>
  <move-list [moves]=moves></move-list>
</div>
