.contact-list{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     list-style: none;
     background-color: black;
     color: aliceblue;
     width: 600px;
     border-radius: 10px;
}

a{
     text-decoration: none;
     color: white;
}
.contact-container{
     text-align: center;
}